<div class="container">
    <div class="center">
        <h1>Eat That Burger!</h1>
    </div>
    <div class="row">
        <div class="col-sm">


            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        <div class="col-sm">

            <ul>
                {{#each burger}}
                {{#if devoured}}
                {{> burger/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>


        <div class="row">

            <form class="create-form center">

                <div class="form-group">
                    <textarea type="text" id="devoured" name="name" value="1"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-info">Submit<br>
                </div>

                <button type="submit">Add burger</button>

            </form>

        </div>

</div>