<div class="container">
    <div class="center">
        <h1>Eat That Burger!</h1>
        <img src="/assets/img/burger.png" alt="burger" />
    </div>
    <div class="row">
        <div class="col-sm">


            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        <div class="col-sm" id="eaten">

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>


    <div class="row">

        <form class="create-form center">
            <legend>

                <div class="form-group" id="textarea">
                    <label for="name">Add a burger:</label>
                    <textarea type="text" id="addBurger" name="name" value="1" maxlength="30"></textarea>
                    <button type="submit" class="btn-info">Submit<br>
                </div>

            </legend>
        </form>

    </div>

</div>