/* Class selectors*/

.col-sm {
    display: flex;
    justify-content: space-between;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: .5em;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

.label {
    font-weight: bold;
}

/* HTML tag selectors*/

body {
    font-size: larger;
    background-color: gray;
}

h1 {
    text-align: center;
    padding: 2em;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

img {
    display: flex;
    justify-content: center;
    padding-left: 2em;
    padding-bottom: 2em;
}

label {
    padding-right: 15px;
}

textarea {
    height: 60px;
    width: 350px;
    resize: none;
}

#textarea {
    white-space: nowrap;
}

#textarea * {
    vertical-align: middle;
}

#eaten {
    text-align: center;
}