<div class="row">
    <div class="col-sm-9 test center">
        {{id}}. {{burger_name}}
    </div>
    <div class="col-sm-3">
        {{#if devoured}} <button class=" devoured" data-id="{{id}}">
            DEVOURED
        </button>{{/if}}
    </div>
</div>